$ws-primary:        rgba(80,193,230,1);
$ws-secondary:      rgba(14,68,114,1);
$ws-secondary-60:   rgba(14,68,114,0.6);
$ws-secondary-text: rgba(255,255,255,1);
$ws-black:          rgba(72,76,78,1);
$ws-grey:           rgba(197,197,197,1);
$ws-light-grey:     lighten($ws-grey, 10%);

$custom-black:      rgba(16,16,16,1);
